<html>
<body>
  <h2>Password Reset Successful</h2>
  <p>Your password has been successfully reset.</p>
  <p>If you did not request this change, please contact support immediately.</p>
</body>
</html>
